body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f3f4f6;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #065f46, #374151);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* NAV */
nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 20px;
}

/* SECCIONES */
section {
    background: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

/* TITULOS */
h2 {
    color: #065f46;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #065f46;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* LISTAS */
ul {
    padding-left: 20px;
}

/* HOVER TABLA */
tr:hover {
    background: #f0fdf4;
}

/* BOTÓN VOLVER */
.volver-contenedor {
    text-align: center;
    margin: 20px;
}

.volver {
    display: inline-block;
    padding: 10px 20px;
    background: #374151;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.volver:hover {
    background: #1f2937;
}

.cerrar-sesion {
    background: #384531;
    padding: 8px 25px;
    margin-left: -900px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.cerrar-sesion:hover {
    transform: scale(1.08);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
}